body{
    background-color: #141415;
    background-image: url("../img/background.webp");
    background-repeat: no-repeat;
    background-size: 100%;
    overflow-x: hidden;
}
.background img{
    width: 100vw;
    height: auto;
}
.background{
    width: 100%;
    height: auto;
}
/*navbar*/
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: transparent;
}
.navbar-left{
    margin-left: 35px;
    display: flex;
    flex-direction: row;
}
.navbar-left img{
    width: 120px;
    padding-right: 25px;
}
.navbar-list{
    color: white;
    text-decoration: none;
    padding: 18px 20px 0 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    transition: all .3s;
}
.navbar-list:hover{
    transition: all .3s;
    color: gray;
}
.navbar-icons{
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding-right: 20px;
}
.navbar-icons-dropdown{
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding-left: 10px;
    font-size: 16px;
    padding-top: 8px;
}
.navbar-profile img{
    border-radius: 5px;
}
.navbar-right{
    display: flex;
    justify-content: right;
    padding-top: 13px;
    width: 10%;
    margin-right: 70px;
}

/*topic*/
.movie-topic{
    margin-left: 51px;
    display: flex;
    flex-direction: column;
    width: 500px;
    color: white;
}
.movie-topic img{
    width: 500px;
}
.movie-topic p{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
.movie-topic h1{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    color: white;
    font-size: 25px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
.topic-play{
    background-color: white;
    width: 110px;
    height: auto;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    display: flex;
    vertical-align: middle;
    padding-top: 12px;
    padding-bottom: 12px;
    gap: 5px;
    transition: all .4s;
}
.topic-play:hover{
    background-color: rgb(145, 145, 145);
    transition: all .4s;
}
/*movie list*/
.movies{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 140px;
}
.movie-popular{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    gap: 5px;
    margin-bottom: 50px;
}
.movie-popular img{
    border-radius: 5px;
    width: 220px;
}
.movies h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

/*Movie Swiper*/
.swiper {
    width: 100%;
    height: 28vh;
    position: relative;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    left: 60px;
  }

  :root{
      --swiper-theme-color: #fff;
  }

  .swiper-slide img {
    display: block;
    border-radius: 5px;
    width: 300px;
    transition: .4s all ease;
    z-index: 1;
  }
  .swiper-slide img:hover{
    display: block;
    border-radius: 5px;
    transform: scale(1.5);
    transition: .4s all ease;
    z-index: 2;
  }
  .swiper-pagination{
      display: none;
  }
  .swiper-button-next{
      color: white;
  }
  .swiper-button-next:hover{
      display: block;
  }
  @media screen and (max-width: 1744px) {
    .swiper-slide img {
        display: block;
        border-radius: 5px;
        width: 260px;
      }
  }
  @media screen and (max-width: 1559px) {
    .swiper-slide img {
        display: block;
        border-radius: 5px;
        width: 230px;
      }
  }
  @media screen and (max-width: 1435px) {
    .swiper-slide img {
        display: block;
        border-radius: 5px;
        width: 220px;
      }
  }
  @media screen and (max-width: 1322px) {
    .swiper-slide img {
        display: block;
        border-radius: 5px;
        width: 200px;
      }
  }